* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

@media only screen and (min-width: 1900px) {
  body {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}
